<%= render "shared/include" %>
<script type="text/javascript">
  $(document).on('keyup click', 'input#search', function() {
  key_search = $(this).val();
  if (key_search.length > 0) {
    $.get($('#search_book').attr('action'), $('#search_post').serialize(),
      null, 'script');
    return false;
  } else {
    $('.list-group').slideUp();
  }
});
</script>
<section class="site-section site-section-light site-section-top themed-background-dark">
  <div class="container">
    <h1 class="animation-slideDown"><strong>Latest News</strong></h1>
    <h2 class="h3 animation-slideUp">Learn about our progress and offers!</h2>
  </div>
</section>
<!-- END Intro -->

<!-- Content -->
<section class="site-content site-section">
  <div class="container">

    <div class="row site-block">
      <%= form_tag blogs_path, method: "GET", id: "search_post",
              class: "navbar-form navbar-left" do %>
              <%= text_field_tag :search, params[:search],
                placeholder: "Search..", class: "form-control", style: "width: 840px;" %>
                <div id = "result_search"></div>
            <% end %>
    </div>
    <!-- END Seach Form -->
    <div class="row">
      <!-- Posts -->
      <div class="col-sm-8 col-md-9">
        <!-- Blog Post -->
      <% @posts.each do |post| %>
        <div class="site-block">
          <div class="row">
            <div class="col-md-4">
              <p>
                <%= link_to blog_path(post) do %>
                  <%= image_tag post.image, class: "img-responsive", style: "height: 160px;" %>
                <% end %>
              </p>
            </div>
            <div class="col-md-8">
              <h3 class="site-heading"><strong><%= post.title %></strong></h3>
              <p><%= raw post.content.truncate(100) %></p>
            </div>
          </div>
          <div class="clearfix">
            <p class="pull-right">
            <%= link_to "Read more ..", blog_path(post), class: "label label-primary" %>
            </p>
            <ul class="list-inline pull-left">
              <li><i class="fa fa-calendar"></i> <%= l post.created_at, format: :long %></li>
              <li><i class="fa fa-user"></i> by <a href="javascript:void(0)"><%= post.user.name %></a></li>
              <li><i class="fa fa-tag"></i> <a href="javascript:void(0)"><%= post.category.name %></a></li>
            </ul>
          </div>
        </div>
      <% end %>
        <!-- END Blog Post -->

        <!-- END Blog Post -->
        <!-- Pagination -->
        <div class="text-right">
          <%= paginate @posts %>
        </div>
        <!-- END Pagination -->
      </div>
      <!-- END Posts -->
      <!-- Sidebar -->
      <div class="col-sm-4 col-md-3">
        <aside class="sidebar site-block">

          <!-- END Search -->
          <!-- Categories -->
          <%= render "shared/categories_blog" %>
          <!-- END Categories -->
          <!-- Popular and Recent -->

          <!-- END Popular and Recent -->
          <!-- About -->
          <div class="sidebar-block">
            <h4 class="site-heading"><strong>About</strong> Us</h4>
            <p>Etiam egestas fringilla enim, id convallis lectus laoreet at. Fusce purus nisi, gravida sed consectetur ut, interdum quis nisi. Quisque egestas nisl id lectus facilisis scelerisque? Proin rhoncus dui at ligula vestibulum ut facilisis ante sodales! Suspendisse potenti. Aliquam tincidunt sollicitudin sem nec ultrices.</p>
          </div>
          <!-- END About -->
        </aside>
      </div>
      <!-- END Sidebar -->
    </div>
  </div>
</section>
<!-- END Content -->
