<%= render "shared/include" %>
<div class="media-container">
<!-- Intro -->
<section class="site-section site-section-light site-section-top">
  <div class="container">
    <a href="javascript:void(0)">
    <%= image_tag @post.user.avatar, class: "site-top-avatar pull-right img-circle animation-fadeIn360" %>
    </a>
    <h1 class="animation-slideDown"><strong><%= @post.title %></strong></h1>
    <h2 class="h3 animation-slideUp hidden-xs">Once in a lifetime experience!</h2>
  </div>
</section>
<!-- END Intro -->
<!-- For best results use an image with a resolution of 2560x279 pixels -->
  <%= image_tag "header/blog_post.jpg", class: "media-image animation-pulseSlow" %>
</div>
<!-- END Media Container -->
<!-- Article -->
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 site-block">
        <!-- Story -->
        <article>
          <%= raw @post.content %>
        </article>
        <!-- END Story -->
      </div>
    </div>
    <hr>
  </div>
</section>
<!-- END Article -->
<!-- Extra Info -->
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 site-block">
        <h3 class="site-heading"><strong>About</strong> the Author</h3>
        <ul class="media-list">
          <li class="media">
            <a href="javascript:void(0)" class="pull-left">
              <%= image_tag "avatar/avatar1.jpg", class: "img-circle" %>
            </a>
            <div class="media-body">
              <a href="javascript:void(0)"><strong><%= @post.user.name %></strong></a>
              <p><%= @post.user.email %></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-5 site-block">
        <h3 class="site-heading"><strong>Read</strong> More</h3>
        <ul class="fa-ul ul-breath">
        <% @posts_of_user.each do |post| %>
          <li><i class="fa fa-angle-right fa-li"></i>
          <%= link_to post.title, blog_path(post) %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <hr>
  </div>
</section>
<!-- END Extra Info -->
<!-- Comments -->
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 site-block">
        <h3 class="site-heading"><strong>User</strong> Comments</h3>
        <%= render "layouts/comment" %>
        <%= content_tag :div, '', :class => "fb-comments", "data-href" => request.original_url, "data-numposts" => "5", "data-colorscheme" => "light", "data-width": "877px" %>
      </div>
    </div>
  </div>
</section>
<!-- END Comments -->
