<%= render "shared/include" %>
<!-- Media Container -->
<!-- Intro -->
<div class="media-container">
                <!-- Intro -->
  <section class="site-section site-section-light site-section-top">
      <div class="container text-center">
          <h1 class="animation-slideDown"><strong>Welcome to our Online Store!</strong></h1>
          <h2 class="h3 animation-slideUp hidden-xs">Explore over 5.000 products!</h2>
      </div>
  </section>
  <%= image_tag "header/store_home.jpg", class: "media-image animation-pulseSlow" %>
</div>
<!-- END Intro -->
<!-- For best results use an image with a resolution of 2560x279 pixels -->
</div>
<!-- END Media Container -->
<!-- Products -->
<section class="site-content site-section">
  <div class="container">
    <!-- Seach Form -->
    <div class="site-block">
      <form action="ecom_search_results.html" method="post">
        <div class="input-group input-group-lg">
          <input type="text" id="ecom-search" name="ecom-search" class="form-control text-center" placeholder="Search Store..">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
    <!-- END Seach Form -->
    <!-- New Arrivals -->
    <h2 class="site-heading"><strong>New</strong> Arrivals</h2>
    <hr>
    <div class="row store-items">
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-1.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 79</span>
            <a href="ecom_product.html"><strong>Sport Shoes</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-1.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 99</span>
            <a href="ecom_product.html"><strong>Jacket</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-1.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 299</span>
            <a href="ecom_product.html"><strong>Watch</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <a href="ecom_product_list.html"><strong>View All</strong> <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
    <!-- END New Arrivals -->
    <!-- Best Sellers -->
    <h2 class="site-heading"><strong>Best</strong> Sellers</h2>
    <hr>
    <div class="row store-items">
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-1.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 109</span>
            <a href="ecom_product.html"><strong>Sunglasses</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-2.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 59</span>
            <a href="ecom_product.html"><strong>Gloves</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-1.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 99</span>
            <a href="ecom_product.html"><strong>Jacket</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-1.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 79</span>
            <a href="ecom_product.html"><strong>Headset</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-1.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 1.599</span>
            <a href="ecom_product.html"><strong>Laptop</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-4 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
        <div class="store-item">
          <div class="store-item-rating text-warning">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
          <div class="store-item-image">
            <a href="ecom_product.html">
            <%= image_tag "portfolio/portfolio-1.png", class: "img-responsive" %>
            </a>
          </div>
          <div class="store-item-info clearfix">
            <span class="store-item-price themed-color-dark pull-right">$ 149</span>
            <a href="ecom_product.html"><strong>Sunglasses</strong></a><br>
            <small><i class="fa fa-shopping-cart text-muted"></i> <a href="javascript:void(0)" class="text-muted">Add to cart</a></small>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <%= link_to projects_path() do %>
         <strong>View All</strong> <i class="fa fa-arrow-right"></i>
        <% end %>
      </div>
    </div>
    <!-- END Best Sellers -->
  </div>
</section>
<!-- END Products -->
<!-- Explore Store Action -->
<section class="site-content site-section site-section-light themed-background-dark-night">
  <div class="container">
    <div class="text-center push">
      <div class="push">
        <i class="gi gi-shopping_bag fa-5x text-muted"></i>
      </div>
        <%= link_to projects_path(), class: "btn btn-lg btn-primary" do %>
         Explore more <i class="fa fa-arrow-right"></i>
      <% end %>
    </div>
  </div>
</section>
<!-- END Explore Store Action -->
