<%= render "shared/include" %>
<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-dark">
  <div class="container text-center">
    <h1 class="animation-slideDown"><strong><%= t "explore_project" %></strong></h1>
  </div>
</section>
<!-- END Intro -->
<!-- Product List -->
<section class="site-content site-section">
  <div class="container">
    <div class="row">
     <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> fade in alert-dismissable"><%= message %>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
        </div>
      <% end %>
      <!-- Sidebar -->
      <%= render "shared/sidebar_project" %>
      <!-- END Sidebar -->
      <!-- Products -->
      <div class="col-md-8 col-lg-9">
        <div class="row store-items">
        <% @projects.each do |project| %>
          <div class="col-md-6 visibility-none" data-toggle="animation-appear" data-animation-class="animation-fadeInQuick" data-element-offset="-100">
            <div class="store-item">
              <div class="store-item-rating text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
              </div>
              <div class="store-item-image">
                <%= link_to project_path(project) do %>
                  <%= image_tag project.images.first.image.url, class: "img-responsive", style: "width: 400px; height: 200px;" %>
                <% end %>
              </div>
              <div class="store-item-info clearfix">
                <%= link_to project_path(project) do %>
                  <strong><%= project.name %></strong>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>

      </div>
    </div>
    <!-- END Products -->
  </div>
</section>
