<!-- Intro -->
<section class="site-section site-section-light site-section-top themed-background-dark">
  <div class="container text-center">
    <h1 class="animation-slideDown"><strong><%= @project.name %></strong></h1>
  </div>
</section>

<!-- END Intro -->
<!-- Product View -->
<section class="site-content site-section">
  <div class="container">
    <div class="row">
      <!-- Sidebar -->
      <%= render "shared/sidebar_project" %>
      <!-- END Sidebar -->
      <!-- Product Details -->
      <div class="col-md-8 col-lg-9">
        <div class="row" data-toggle="lightbox-gallery">
          <!-- Images -->
          <div class="col-sm-6 push-bit">
            <%= link_to @project.images.first.image.url, class: "gallery-link" do %>
              <%= image_tag @project.images.first.image.url, class: "img-responsive push-bit", style: "width:400px; height: 270px;" %>
            <% end %>
            <div class="row push-bit">
              <div class="col-xs-4">
                <%= link_to @project.images.second.image.url, class: "gallery-link" do %>
                  <%= image_tag @project.images.second.image.url, class: "img-responsive push-bit", style: "width:400px; height: 70px;" %>
                <% end %>
              </div>
              <div class="col-xs-4">
                <%= link_to @project.images.third.image.url, class: "gallery-link" do %>
                  <%= image_tag @project.images.third.image.url, class: "img-responsive push-bit", style: "width:400px; height: 70px;" %>
                <% end %>
              </div>
              <div class="col-xs-4">
                <%= link_to @project.images.fourth.image.url, class: "gallery-link" do %>
                  <%= image_tag @project.images.fourth.image.url, class: "img-responsive push-bit", style: "width:400px; height: 70px;" %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- END Images -->
          <!-- Info -->
          <div class="col-sm-6 push-bit">
            <div class="clearfix">
              <span class="h4"><strong class="text-success"><%= @project.name %></strong><br>
              <small><%= l @project.created_at, format: :long %></small></span>
            </div>
            <hr>
            <%= social_share_button_tag("Fprotfolio Framgia", :url => "http://brs35framgia.herokuapp.com/books?category=3", :image => "http://brs35framgia.herokuapp.com/assets/book1-277127914e95ab2fd02094a8cee15b1936db81e25464dce7e98e7895597531f0.jpg") %>
            <br/><b>Link deploy:  </b><%= link_to @project.url, @project.url %>
            <hr>

            <form action="ecom_shopping_cart.html" method="post" class="form-inline push-bit text-right">

              <%= link_to "Meet team", project_teams_path(project_id: @project), class: "btn btn-primary" %>
            </form>
          </div>
          <!-- END Info -->
          <!-- More Info Tabs -->
          <div class="col-xs-12 site-block">
            <ul class="nav nav-tabs push-bit" data-toggle="tabs">
              <li class="active"><a href="#product-specs">Specs</a></li>
              <li><a href="#product-description">Description</a></li>
              <li><a href="#product-reviews">Reviews (3)</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="product-specs">
                <div class="col-md-12">
                  <!-- Key Features -->
                  <section class="site-content site-section">
                    <div class="">
                      <div class="row row-items text-center">
                      <% @features.each do |feature| %>
                        <div class="col-sm-3">
                        <!--   <a href="javascript:void(0)" class="circle visibility-none themed-background-fire" data-toggle="animation-appear" data-animation-class="animation-fadeIn360" data-element-offset="-100">
                          <i class="gi gi-fire"></i>
                          </a> -->
                          <%= link_to "" do %>
                            <%= image_tag feature.image.url, class: "circle themed-background-fire" %>
                          <% end %>
                          <h4><strong><%= feature.name %></strong></h4>
                        </div>
                      <% end %>
                      </div>
                      <hr>
                    </div>
                  </section>
                  <!-- END Key Features -->
                </div>
              </div>
              <div class="tab-pane" id="product-description">
                <%= raw @project.description %>
              </div>
              <div class="tab-pane" id="product-reviews">
                <%= render "layouts/comment" %>
                <%= content_tag :div, '', :class => "fb-comments", "data-href" => request.original_url, "data-numposts" => "5", "data-colorscheme" => "light", "data-width": "877px" %>
              </div>
            </div>
          </div>
          <!-- END More Info Tabs -->
        </div>
      </div>
      <!-- END Product Details -->
    </div>
  </div>
</section>
