<!DOCTYPE html>
<html>
  <head>
    <title>Fportfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>
  <body style="background-color: black;">
  <%= render "layouts/header" %>
   <!-- Login Background -->
    <div id="login-background">
      <%= image_tag "header/login_header.jpg", class: "animation-pulseSlow" %>
    </div>
    <!-- END Login Background -->

    <!-- Login Container -->
    <div id="login-container" class="animation-fadeIn">
      <%= render "shared/flash" if flash[:alert] %>
      <!-- Login Title -->
      <div class="login-title text-center">
        <h1>
          <i class="gi gi-flash"></i>
          <strong><%= t "fportfolio" %> </strong>
          <br>
          <small>
            <%= t "please" %>
            <strong><%= t "login" %></strong>
            <%= t "or" %>
            <strong><%= t "register" %></strong>
          </small>
        </h1>
      </div>
      <!-- END Login Title -->

      <!-- Login Block -->
      <div class="block push-bit">
          <!-- Login Form -->
        <%= form_for resource, html: {class: "form-horizontal form-bordered form-control-borderless" },as: resource_name,
          url: session_path(resource_name) do |f| %>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="gi gi-envelope"></i>
                </span>
                <div>
                <%= f.email_field :email, autofocus: true,
                  class: "form-control", placeholder: t("email") %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="gi gi-asterisk"></i>
                </span>
                <%= f.password_field :password, autocomplete: "off",
                  class: "form-control", placeholder: t("password") %>
              </div>
            </div>
          </div>
          <div>
            <div class="col-xs-4">
              <label class="switch switch-primary" data-toggle="tooltip" title="Remember Me?">
                <%= f.check_box :remember_me %>
                <span></span>
              </label>
            </div>
            <div class="col-xs-8 text-right">
              <%= f.submit t("login"), class: "btn btn-sm btn-primary" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12 text-center">
              <%= link_to "" do %>
                <small><%= t "forgot_password" %></small>
              <% end %>
            </div>
          </div>
        <% end %>
          <!-- END Login Form -->
      </div>
      <!-- END Login Block -->

      <!-- Footer -->
      <footer class="text-muted text-center">
        <small><%= t "year" %><%= t "inc_all_rights_reserved" %></small>
      </footer>
      <!-- END Footer -->
    </div>
  <!-- END Login Container -->

  </body>
</html>
