<div class="block">
  <div class="block-title">
    <h2><strong>Table</strong> Styles</h2>
  </div>
  <div class="table-options clearfix">
    <div class="btn-group btn-group-sm pull-right">
      <button class="btn btn-primary" data-toggle="modal"
        data-target="#new_role">
        <i class="gi gi-plus"></i> <%= t".add" %>
      </button>
    </div>
    <div class="btn-group btn-group-sm pull-left" data-toggle="buttons">
      <label id="style-default" class="btn btn-primary active" data-toggle="tooltip" title=".table">
      <input type="radio" name="style-options"> Default
      </label>
      <label id="style-bordered" class="btn btn-primary" data-toggle="tooltip" title=".table-bordered">
      <input type="radio" name="style-options"> Bordered
      </label>

      <label id="style-borderless" class="btn btn-primary" data-toggle="tooltip" title=".table-borderless">
      <input type="radio" name="style-options"> Borderless
      </label>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true" id ="new_role">
    <div class="modal-dialog">
      <div class="modal-content">

          <h3 class="text-center"><%= t ".add" %></h3>
          <div id="role-form">
            <%= render "form" %>
          </div>

      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="general-table" class="table table-striped table-vcenter table-hover bootstrap-datatable datatable" aria-describedby="DataTables_Table_0_info">
      <thead>
        <tr>
          <th style="width: 80px;" class="text-center">Index</th>
          <th>Subscription</th>
          <th style="width: 150px;" class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each_with_index do |role, index| %>
          <tr id="role-<%= role.id %>">
            <td class="text-center"><%= index + 1 %></td>
            <td><%= link_to admin_role_user_roles_path(role) do %><%= role.name %><% end %></td>
            <td class="text-center">
              <div class="btn-group btn-group-xs">
                <%= link_to admin_role_user_roles_path(role), title: "Detail", class: "btn btn-default", data: {toggle: "tooltip"} do %>
                  <i class="fa fa-eye"></i>
                <% end %>
                <%= link_to edit_admin_role_path(role), title: "Edit", class: "btn btn-default", data: {toggle: "tooltip"} do %>
                  <i class="fa fa-pencil"></i>
                <% end %>
                <%= link_to admin_role_path(role), title: "Delete",
                  method: :delete, class: "btn btn-danger", data: {toggle: "tooltip", confirm: t("alert_confirm")} do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6">
            <div class="btn-group btn-group-sm pull-right">
              <a href="javascript:void(0)" class="btn btn-primary" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
              <div class="btn-group btn-group-sm dropup">
                <a href="javascript:void(0)" class="btn btn-primary pull-right dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                  <li><a href="javascript:void(0)"><i class="fa fa-print pull-right"></i> Print</a></li>
                  <li class="dropdown-header"><i class="fa fa-share pull-right"></i> Export As</li>
                  <li>
                    <a href="javascript:void(0)">.pdf</a>
                    <a href="javascript:void(0)">.cvs</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="btn-group btn-group-sm">
              <a href="javascript:void(0)" class="btn btn-primary" data-toggle="tooltip" title="Edit Selected"><i class="fa fa-pencil"></i></a>
              <a href="javascript:void(0)" class="btn btn-primary" data-toggle="tooltip" title="Delete Selected"><i class="fa fa-times"></i></a>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
