<!DOCTYPE html>
<html>
  <head>
    <title>Fportfolio</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "admin/main.css" %>
    <%= stylesheet_link_tag "admin/plugins.css" %>
    <%= javascript_include_tag "admin/plugins.js" %>
    <%= javascript_include_tag "admin/app.js" %>
  </head>
  <body>
   <!--  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div id="page-wrapper">
      <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <%= render "layouts/sidebar" %>
        <div id="main-container">
          <%= render "shared/navbar" %>
          <%= yield %>
          <%= render "layouts/admin_footer" %>
        </div>
      </div>
    </div>
    <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>
  </body>
</html>
