<!DOCTYPE html>
<html>
  <head>
    <title>Fportfolio</title>
    <meta property="fb:app_id" content="275540116228463"/>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <!--  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div>
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= render "layouts/subiz_chat" %>
<%= yield(:javascript) %><!-- We put our JavaScript tags here -->
    </div>
    <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>
  </body>
</html>
