<!DOCTYPE html>
<html>
  <head>
    <title>Fportfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "static-user/main.css" %>
    <%= stylesheet_link_tag "static-user/plugins.css" %>
    <%= stylesheet_link_tag "static-user/themes.css" %>
    <%= javascript_include_tag "user/plugins.js" %>
    <%= javascript_include_tag "user/app.js" %>
  </head>
  <body>
   <!--  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <div>
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <a href="#" id="to-top"><i class="fa fa-angle-up"></i></a>
  </body>
</html>
